.ropeproject
/*
/*/
/.vim/backup/
/.vim/bundle/

!/.bash_aliases
!/.bashrc
!/.bashrc.d/
!/.gemrc
!/.gitconfig
!/.gitignore
!/.irbrc
!/.pearrc
!/.pip/pip.conf
!/.pydistutils.cfg
!/.tmux.conf
!/.vim/
!/.vim/bundle/vundle/
!/.vimrc
