[user]
    email = leon@tim-online.nl
    name = Leon Bogaert
[status]
    showUntrackedFiles = all
[push]
    default = simple
[color]
    diff = auto
[alias]
    s = status
    d = diff
    unstage = reset HEAD --
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    export-files = "!sh -c \"git diff-tree -r --no-commit-id --name-only --diff-filter=ACMRT $1 | xargs tar -rf ${2:-export.tar}\""
    ; tree2 = log --oneline --decorate --all --graph
[merge]
    ff = only
[core]
    excludesfile = /home/leon/.gitignore_global
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
